h1{
color: ;    
}
header{
   
}
body{
 background-color: rgb(112, 12, 206); 
 
}
p{

color: rgb(28, 163, 7);
}
img{
height: 300px;
width: 310px;
margin: 20px;
}
footer{
    color: rgb(104, 191, 17);
    background-color: rgb(196, 12, 21);
}
